<div class="liquidity-rating">
	<div class="rating-panel">
		<div class="model-panel margin-b-20">
			<div class="model-head">
				<h3 class="h3">小区流动性评级</h3>
			</div>
			<div class="model-body">
				<div class="rating-name">加州水郡</div>
				<div class="rating-body">
					<div class="rating-request">
						<p>流动性等级：</p>
						<ul class="rating-ul">
							<li class="active"></li>
							<li class="active"></li>
							<li class="active"></li>
							<li></li>
							<li></li>
						</ul>
					</div>
					<div class="rating-response">
						<p>城市排名：<strong class="c-red">28978</strong>名</p>
						<p>区域排名：<strong class="c-red">28978</strong>名</p>
					</div>
				</div>
			</div>
		</div>

		<!-- 同级小区 -->
		<div class="model-panel">
			<div class="model-head">
				<h3 class="h3">同级小区</h3>
			</div>
			<div class="model-body">
				<table class="layui-table" lay-even="" lay-skin="nob">
					<thead>
						<tr>
							<th>五栋大楼</th>
							<th>区域位置</th>
							<th>小区基准价</th>
						</tr> 
					</thead>
					<tbody>
						<tr>
							<td>五栋大楼</td>
							<td>西城区</td>
							<td><strong class="c-red">24500元/㎡</strong></td>
						</tr>
						<tr>
							<td>五栋大楼</td>
							<td>西城区</td>
							<td><strong class="c-red">24500元/㎡</strong></td>
						</tr>
						<tr>
							<td>五栋大楼</td>
							<td>西城区</td>
							<td><strong class="c-red">24500元/㎡</strong></td>
						</tr>
						<tr>
							<td>五栋大楼</td>
							<td>西城区</td>
							<td><strong class="c-red">24500元/㎡</strong></td>
						</tr>
						<tr>
							<td>五栋大楼</td>
							<td>西城区</td>
							<td><strong class="c-red">24500元/㎡</strong></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="move-case">
			<span>查询并导出更多案例信息，请开通案例查询功能</span>
			<a href="javascript:;" class="layui-btn">前去体验</a>
		</div>

	</div>
	
	<!-- 小区交易情况 -->
	<div class="rating-panel fr">
		<div class="model-panel">
			<div class="model-head">
				<h3 class="h3">同级小区</h3>
			</div>
			<div class="model-body">
				<div id="monthStatistics" class="charts"></div>
				<div id="areaStatistics" class="charts"></div>
			</div>
		</div>
	</div>
</div>